<div>
  <mat-form-field>
    <input matInput placeholder="Discord Channel ID" [(ngModel)]="discordID">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your question" [(ngModel)]="question">
  </mat-form-field>
  <mat-form-field *ngFor="let choice of choices; let i = index; trackBy: trackBy">
    <input matInput placeholder="Choice {{i+1}}" [(ngModel)]="choices[i]">
  </mat-form-field>
  <mat-divider></mat-divider>
  <button mat-button (click)="addChoice()">Add choice</button>
  <button mat-button (click)="newPoll()">New</button>
</div>